html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(104.3deg, rgb(253, 243, 243) 10.9%, rgb(248, 231, 231) 27.8%, rgb(160, 112, 161) 101.7%);
    font-family: "Roboto", sans-serif;
}

.weather-app {
    text-align: center;
    padding: 30px;
    background: white;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
}
